/* style sheet */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 18px;
    font-weight: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.m1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.m1left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    padding: 4px 8px;
    border-radius: 1.5mm;
    align-self: flex-start;
    color: white;
}

.m2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 36px;
}

.title2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.m3 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7Eb;
    width: 100%;
    display: flex;
    justify-content: center;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.m4 {
   padding: 35px;
   background-color: #3882F6;
   width: 50%;
   margin-top: 50px;
   margin-bottom: 50px;
   align-self: center;
   display: flex;
   justify-content: space-between;
   color: white;
   border-radius: 1.5mm;
}
.sign-up2 {
    border-color: white;
}

.one {
    width: 200px; /* you can use % */
    height: auto;
    background-color: white;
    padding: 4px;
    margin: 0;
    text-align: center;
}

.subcontainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

img {
    border-color:#1F2937;
    border-radius: 1.5mm;
    background-color: #1F2937;
    padding: 4px;
    margin-right: 10px;
}

.profile {
    width: 400px;
}

.quote {
    width: 700px;
}
.two {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1F2937;
}
