/* style sheet */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px;
}

.m1left {
    width: 300px;
    padding-left: 100px;
}

.m2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 36px;
    
}

.m3 {
    padding: 100px;
  
}

.m4 {
   padding: 100px;
}

img {
    width:300px; /* you can use % */
    height: auto;
    display: inline;
}

.subcontainer {
    display: flex;
}

.footer {
    text-align: center;
}

